/**
 * @file
 * CSS for Authorpane POPUP
*/
.authorpane-popup-container {
  background-color: #ffffff;
  border: 5px solid;
  border-radius: 10px 10px 10px 10px;
  display: none;
}
.authorpane-popup-load-content {
  display: none;
}
.authorpane-popup-container .author-pane {
  padding: 10px;
}
